# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Generated reports and data
generated_reports/
synthetic_data/
assets/charts/*.png

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
